html{
    height: 100%;
}

body{
    width: 100%;
    min-height: 100%;
    border: 0;
    margin: 0;
}

header {
    display: block;
    width: auto;
    height: auto;
    background-color: #4b72a7;
    min-height: 50px;

}

.centerbox
{
  padding: 10px;
    box-shadow: 0 0 15px #778ea5;
    border-radius: 10px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width:fit-content;
    height: fit-content;
    clear: both;
}

#patientsearchresults tr a
{
    text-decoration:black;
     display: block; 
    
}

#patientsearchresults tr:hover
{
    background: lightblue;
}

#PageContents
{
    /*    width: 100%;*/
    clear: both;
    padding: 10px;
}

#LoginContainer{  
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;


}
#PromptBox
{
   padding: 10px;
    box-shadow: 0 0 15px #778ea5;
    border-radius: 10px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width:fit-content;
    height: fit-content;
    clear: both;
}

#ErrorBox
{
    padding: 10px;
    box-shadow: 0 0 15px #778ea5;
    border-radius: 10px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width:fit-content;
    height: fit-content;
    clear: both;
}
nav
{
    float: left;
}

nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4b72a7;

}

nav li {
    float: left;

}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #a1b8dd;
    border-bottom: 1;
}

#UserPortalNavPanel
{
    float: right;
    padding-right: 10px;
    padding-top: 4px;
    margin: 0;


}

#HeaderCalendarDropdownMenu {
    visibility:hidden;
    display:none;
}

img#HeaderCalendarDropdownMenuIcon:hover + #HeaderCalendarDropdownMenu {
    
    display:block;
    visibility:hidden;
    
}

#HeaderUserDropdownMenu
{
    visibility: hidden;
    display: none;
}

.textbox{
    /*width: 40%;*/
    height: 5vh;
    margin-bottom: 1%;
    text-align: center;
    border-radius: 5px;
    border-color: #4da6ff;
    font-weight:bold;
    font-size: 15px;
}


.button{

    height: 40px;
    cursor: pointer;
    padding-bottom: 2%;
    padding-top: 1%;
    background-color: #4179B2;
    border-radius: 6px;
    color: white;
    border: none;
    font-weight: bold;
}

select{
    display: block;   
    border-radius: 5px;
    border-color: #4da6ff;
    font-weight:bold;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
} 





.PatientDetailsContainer
{
    
     
      margin-top: 10px;
      margin-bottom: 10px;
    
    padding: 10px;
    width: 48%;
    box-shadow: 0 0 15px #778ea5;
    border-radius: 10px;
    position: relative;
    float: left;
}
.clearDiv{
    clear: both;
}

.ContactDetailsContainer
{
     
    
    margin-top: 10px;
    margin-bottom: 10px;
   
    padding: 10px;
    width: 48%;
    box-shadow: 0 0 15px #778ea5;
    border-radius: 10px;
   float: right;
       
   
}